* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
  height: 80vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #4F4D53;
  background-image: url(../media/img_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  padding: 0 300px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}
.navBar{
  height: 48px;
  padding: 10px 300px;
  background-color: #4F4D53;

}

.headerTitle{
  font-size: 6.5rem;
}
.yellowDiv{
  background-color: #E8BE02;
  height: 12px;
}
.main{
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
    color: #E8BE02;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  padding: 100px 300px;

}
.textMain{
  font-size: 20px;
  color: #4F4D53;
  font-weight: 400;
  margin-top: 40px;

}

.footer{
  height: 320px;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  background-color: #4F4D53;
  font-family: 'Roboto', sans-serif;
  padding: 40px 300px;
  
  
}
.navFooter{
display: flex;
flex-direction: column;
align-items: right;
justify-content: right;
}

.ulList{
  list-style: none;
  
}

.titleNavFooter{
  color: #E8BE02;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.itemNavFooter{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
  
}